.imageContainer{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    &>img{
        box-shadow: 0 0 5px;
        border-radius: 10px;
        height: 150px;
        width: 200px;
    }
}